// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-cprime-common.dtsi"

/*
 * NOTE: The original firmware from Samsung can only boot ARM32 kernels.
 * Unfortunately, the firmware is signed and cannot be replaced easily.
 * There seems to be no way to boot ARM64 kernels on this device at the moment,
 * even though the hardware would support it.
 *
 * However, it is possible to use this device tree by compiling an ARM32 kernel
 * instead. For clarity and build testing this device tree is maintained next
 * to the other MSM8916 device trees. However, it is actually used through
 * arch/arm/boot/dts/qcom-msm8916-samsung-heatqlte.dts
 */

/ {
	model = "Samsung Galaxy Ace 4 (SM-G357FZ)";
	compatible = "samsung,heatqlte", "qcom,msm8916";
	chassis-type = "handset";
};

&mpss_mem {
	reg = <0x0 0x86800000 0x0 0x5000000>;
};

&panel {
	compatible = "samsung,s6288a0";
};

&blsp_i2c5 {
	status = "okay";

	touchscreen@20 {
		compatible = "cy,cyttsp4_i2c_adapter";
		reg = <0x24>;

		interrupt-parent = <&tlmm>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;

		cy,core_pdata {
			cy,irq_gpio = <&tlmm 13 GPIO_ACTIVE_LOW>;
			cy,rst_gpio = <&tlmm 37 GPIO_ACTIVE_LOW>;
		};

		cy,mt_pdata {
			cy,inp_dev_name = "sec_touchscreen";

			cy,frmwrk {
				cy,abs =
				/* ABS_MT_POSITION_X, CY_ABS_MIN_X, CY_ABS_MAX_X, 0, 0 */
				<0x35 0 540 0 0
				/* ABS_MT_POSITION_Y, CY_ABS_MIN_Y, CY_ABS_MAX_Y, 0, 0 */
				0x36 0 960 0 0
				/* ABS_MT_PRESSURE, CY_ABS_MIN_P, CY_ABS_MAX_P, 0, 0 */
				0x3a 0 255 0 0
				/* CY_IGNORE_VALUE, CY_ABS_MIN_W, CY_ABS_MAX_W, 0, 0 */
				0xffff 0 255 0 0
				/* ABS_MT_TRACKING_ID, CY_ABS_MIN_T, CY_ABS_MAX_T, 0, 0 */
				0x39 0 15 0 0
				/* ABS_MT_TOUCH_MAJOR, 0, 255, 0, 0 */
				0x30 0 255 0 0
				/* ABS_MT_TOUCH_MINOR, 0, 255, 0, 0 */
				0x31 0 255 0 0
				/* ABS_MT_ORIENTATION, -128, 127, 0, 0 */
				0x34 0xfffffed7 127 0 0>;
			};
		};
	};
};
